.apply__background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.apply__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.apply__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.apply__message {
    margin-bottom: 20px;
    font-size: 16px;
}

.apply__form-parts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.apply__form label {
    font-weight: bold;
}

.apply__form input[type="text"],
.apply__form input[type="file"] {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    width: 300px;
}

.apply__submit-button {
    background-color: #00c6ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.apply__submit-button:hover {
    background-color: #0097e6;
}
