.card__image {
    width: 300px;
    border-radius: 20px;
}

.card__name {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}

.card__status {
    margin-top: 5px;
    padding: 5px;
    font-size: 20px;
    color: grey;
}

.card__position {
    margin-top: 5px;
    padding: 5px;
    font-size: 20px;
    color: darkgrey;
}

.card__rating {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 200px;
    margin: 5px auto;
}

.card__rating > img {
    width: 20px;
    margin-left: 5px;
}