.footer-links {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.footer-links > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3 ease;
}

.footer-links > li > a:hover {
    color: #aaa;
}
