.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.navbar__logo {
    width: 100px;
    height: 100px;
}

.navbar__links {
    display: flex;
    list-style-type: none;
    margin-left: 480px;
}

.navbar__link {
    margin: 0 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar__buttons a {
    margin-left: 10px;
    text-decoration: none;
}