.training__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.generate-button {
    background-color: #00c6ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.training__info {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.training__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.training__description {
    font-size: 18px;
    margin-bottom: 10px;
    width: 400px;
}

.training__duration,
.training__intensity {
    font-size: 16px;
    margin-bottom: 10px;
}

.training__image {
    width: 400px;
    height: auto;
    border: 4px;
    box-shadow: 0 0 10px rgba(0, 198, 255, 0.8);
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom right, #00c6ff, #0097e6);
}

.popup__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__content {
    background-color: white;
    padding: 20px;
    color: black;
}