@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.terms-of-use {
    background-color: #000;
    color: #fff;
    font-family: "Exo 2", sans-serif;
    padding: 40px;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.terms-of-use___readit {
    margin-bottom: 20px;
}

.terms-of-use h1 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.terms-of-use__content {
    margin-bottom: 30px;
}

.terms-of-use__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.terms-of-use__desc {
    font-size: 16px;
    line-height: 1.5;
    color: #ccc;
}